<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Articles | INSTANTLY</title>
	<!-- all assets files --><link href="img/favicon.ico" rel="icon">
	<link rel="stylesheet" type="text/css" href="assets/materialize/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="assets/custom/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/slick/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="assets/slick/slick/slick-theme.css">
	
</head>
<body style="background: #F5F5F5">
	<% include includes/navbar %>

	<section style="margin-bottom: 50px">
		<div class=" ">
			<center><span id="header_sub-text" class="section-header"><br>Articles </span></center>
		</div>

		<div class="container" style="margin-top: 50px;">
			<div class="row " id="articles">
			<% if(articles.length) { %>
				<% for (var i = 0; i < articles.length; i++){ %>
					<div class="col s12 l4 ">
				    <div class="card wed horizontal ">
				      <div class="card-stacked">
				        <div class="card-content">
				          <center>
				          	<i class="medium material-icons">title</i>
				          	<br>
				          	<span class="section2-li"> Title </span><br>
				          	<span > <%- articles[i]['article_title'] %> </span>
				          	<br>
				          	<div class="row">
				          		<div class="col s6 l6">
								    <div class="card wed horizontal">
								      <div class="card-stacked">
								        <div class="card-content">
								          <center>
								          	<i class="medium material-icons">view_headline</i>
								          	<br>
								          	<span class="section2-li">Channel</span><br>
								          	<span><%- articles[i]['article_channel'] %> </span>
								          	<br><br>
								          </center>
								        </div>
								      </div>
								    </div>
								  
								</div>
				          		<div class="col s6 l6">
								    <div class="card wed horizontal ">
								      <div class="card-stacked">
								        <div class="card-content">
								          <center>
								          	<i class="medium material-icons">person</i>
								          	<br>
								          	<span class="section2-li">Author</span><br>
								          	<span><%- articles[i]['article_author'] %></span>
								          	<br><br>
								          </center>
								        </div>
								      </div>
								    </div>
								  
								</div>
					        </div>
				          	<div class="row">
					          		<div class="col s12 l12">
									    <div class="card wed horizontal">
									      <div class="card-stacked">
									        <div class="card-content">
									          <center>
									          	<i class="medium material-icons">access_time</i>
									          	<br>
									          	<span class="section2-li">Date added</span><br>
									          	<span><%- articles[i]['date_added'] %> </span>
									          	<br><br>
									          </center>
									        </div>
									      </div>
									    </div>
									  
									</div>
					          		
					          	</div>
				          	<a href="http://<%- articles[i]['article_url'] %>" data-article-id="<%- articles[i]['article_id'] %>" data-post="1" class="btn views">Read article</a>
				          	<br><br>
				          </center>
				          <hr>
				          	<div class="row">
				          		<center>
					          		<div class="col l6 s6">
					          			<button class="btn-floating btn-large waves-effect waves-light " style="background: white"><i class="material-icons views" data-article-id="<%- articles[i]['article_id'] %>" data-post="1" >remove_red_eye</i></button> <br>
					          			<span class="badge" data-badge-caption="views" name="<%- articles[i]['article_id'] %>" style="color:white;"><%- articles[i]['article_number_of_clicks'] %></span>
					          		</div>
					          		<div class="col l6 s6">
					          			<button class="btn-floating btn-large waves-effect waves-light"  style="background: white"><i class="material-icons likes" data-article-id="<%- articles[i]['article_id'] %>" data-post="1" >thumb_up</i></button> <br>
					          			<center>
						          			<span class="badge" data-badge-caption="likes" id="<%- articles[i]['article_id'] %>" style="color:white;"><%- articles[i]['article_number_of_likes'] %></span>
						          		</center>
					          		</div>
				          		</center>
				          	</div>
				        
				        </div>
				      </div>
				    </div>
				  
				</div>
				<% } %>
			<% } %>
			<% if(!articles.length) { %>
				<div class="row">
	          		<div class="col s12 l12">
					    <div class="card wed horizontal">
					      <div class="card-stacked">
					        <div class="card-content">
					          <center>
					          	<i class="medium material-icons">notifications_off</i>
					          	<br>
					          	<span class="section2-li">The requested articles are not available...</span>
					          	<br><br>
					          </center>
					        </div>
					      </div>
					    </div>
					  
					</div>
	          		
	          	</div>
			<% } %>
			</div>
		</div>	
	</section>

	

	<!-- footer section -->
	<% include includes/footer %>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/slick/slick/slick.js"></script>
<script type="text/javascript" src="assets/materialize/materialize/js/materialize.js"></script>

<script type="text/javascript" src="assets/custom/style.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('bfe927980e5d39ace247', {
      cluster: 'eu',
      encrypted: true
    });

    var channel = pusher.subscribe('article');
    channel.bind('like', function(data) {
		var badge = document.getElementById(data['article_id']);
    	badge.innerHTML = data['article_number_of_likes'];
    });
    channel.bind('view', function(data) {
		var badge = document.getElementsByName(data['article_id'])[0];
    	badge.innerHTML = data['article_number_of_clicks'];
    });
    channel.bind('new', function(data) {
    	var parent_element = document.getElementById('articles');
    	var first_child = parent_element.firstChild
    	var new_article = document.createElement('div');
    	new_article.className = "col s12 l4 "
    	new_article.innerHTML = `
    					<div class="card wed horizontal ">
				      <div class="card-stacked">
				        <div class="card-content">
				          <center>
				          	<i class="medium material-icons">title</i>
				          	<br>
				          	<span class="section2-li">Title: ${data['article_title']} </span>
				          	<br>
				          	<span class="section2-li">Channel: ${data['article_channel']} </span><br>
				          	<span class="section2-li">Author: ${data['article_author']} </span><br>
				          	<span class="section2-li">Clicks: ${data['article_number_of_clicks']} </span><br>
				          	<span class="section2-li">Likes: ${data['article_number_of_likes']} </span> <br> <br>
				          	<span class="section-li2" style="text-align: justify;">Date added: 
				          		${data['date_added']}
				          	</span><br><br>
				          	<a href="http://${data['article_url']}" class="btn views" name="${data['article_id']}" data-article-id="${data['article_id']}" data-post="1">Read article</a>
				          	<br><br>
				          </center>
				          <hr>
				          	<div class="row">
				          		<center>
					          		<div class="col l6 s6">
					          			<button class="btn-floating btn-large waves-effect waves-light " style="background: white"><i class="material-icons views" data-article-id="${data['article_id']}" data-post="1" >remove_red_eye</i></button> <br>
					          			<span class="badge" data-badge-caption="views" name="${data['article_id']}" style="color:white;"> ${data['article_number_of_clicks']}</span>
					          		</div>
					          		<div class="col l6 s6">
					          			<button class="btn-floating btn-large waves-effect waves-light"  style="background: white"><i class="material-icons likes" data-article-id="${data['article_id']}" data-post="1" >thumb_up</i></button> <br>
					          			<center>
						          			<span class="badge" data-badge-caption="likes" id="${data['article_id']}" style="color:white;"> ${data['article_number_of_likes']}</span>
						          		</center>
					          		</div>
				          		</center>
				          	</div>
				        
				        </div>
				      </div>
				    </div>		
    	`
    	parent_element.insertBefore(new_article,first_child);
    	window.scrollTo(0,0);
      	console.log(data);
    });

    var like_buttons = document.getElementsByClassName('likes');
    var view_buttons = document.getElementsByClassName('views');

    function click(elements,event,url,success){
    	for(var element = 0; element < elements.length; element++){

    		elements[element].addEventListener(event,function(e){
    			var data = {'article_id':e.target.dataset.articleId, 'addition':e.target.dataset.post};
    			e.target.dataset.post = String(Number(e.target.dataset.post) * -1);
    			$.ajax({
				  type: "POST",
				  url: url,
				  data: data,
				  success: success,
				});
    		})
    	}
    }

    function likeAction(response){
    	// we would trigger the pusher action here if successful
    	console.log(response);
    }

    function viewAction(response){
    	// we would trigger the pusher action here if successful
    	console.log(response);
    }

    click(like_buttons,'click','/like',likeAction);
    click(view_buttons,'click','/view',viewAction)
  </script>
</body>

</html>